
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    header {
        background-color: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .content {
        padding: 20px;
        background-image: url(bg.jpg);
        border-radius: 10px;
        text-align: left;
    }
    .features {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    
    .feature {
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
    }
    .contact {
        padding: 20px;
        background-image: url(bg.jpg);
        border-radius: 10px;
        text-align: left;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        width: 100px;
        height: auto;
    }

    .logo span {
        font-weight: bold;
        font-size: 1.5rem;
        margin-left: 10px;
    }

   /* nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav li {
        margin-right: 20px;
    }

    nav a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    } */

    nav{
        width: 100%;
        height:100px;
        background: #1a65a2;
        color:black;
        display:flex;
        justify-content:space-around;
        align-items:center;
    }
    .menu a{
        text-decoration:none;
        color: black;
        padding:10px 20px;
        font-size: 20px;
    }
    .zero a{
        text-decoration:none;
        color: black;
        padding:10px 20px;
        font-size: 20px;
    }
    .btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  background: linear-gradient(to right, #4CAF50 0%, #2196F3 100%);
}
    .hero {
        background-color: #fff;
        padding: 20px;
        text-align: center;
    }

    .hero h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .hero p {
        font-size: 1.2rem;
        line-height: 1.6;
    }
    .hero-img{
        width: 1200px;


    }

    .stats {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .stat {
        text-align: center;
    }

    .stat h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .stat p {
        font-size: 1rem;
        color: #666;
    }

    .know-more {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        margin-top: 20px;
    }

    .know-more:hover {
        background-color: #3e8e41;
    }

    footer {
        background-color: #1a65a2;
        color: #ffffff;
        padding: 10px;
        text-align: center;
    }
    /*.portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    } */
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
      }
      
     .portfolio{
        max-width: 1224px;
        width: 50%;
        margin: auto;
        padding: 20px 0;
     }

    .portfolio-item {
        display: flex;
        gap: 20px;
    }
    .column{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .portfolio-item img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    } 
    @media(max-width:768px){
       .portfolio-item {
        flex-direction: column;}
    }
    .social-icons {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        
    }
    .social-icons ul{
        top: 50%;
        left: 50%;
        display: flex;
    }

    .social-icons a {
    background-color: #77C655;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    margin: 40px;

    }

    .social-icons i {
        font-size: 1.5em;
        color: #000000;
    }
    
    .footer h1{
        font-size: 90em;
        margin: 0;
    }
    main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .contact-info {
      width: 30%;
      margin: 20px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .map {
      width: 40%;
      margin: 20px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .contact-form {
      width: 30%;
      margin: 20px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    label {
      display: block;
      margin-bottom: 10px;
    }
    
    input, textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #3e8e41;
    }
    
   
        